.parent__div {
  max-height: 600px;
  overflow-y: auto;
  position: absolute;
  right: 0%;
  z-index: 1;
  overflow-x: hidden;
}

.added__product {
  background-color: white;
  width: 50%;
  display: flex;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  position: relative;
  left: 125%;
  right: 0;
  transition: 2s;
  animation: slide 0.5s forwards;
  overflow: hidden;
  margin-bottom: 1%;
}

@keyframes slide {
  0% {
    overflow-x: hidden;
  }
  100% {
    left: 47%;
    overflow-x: hidden;
  }
}

.added__product:hover {
  box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
}

.added__product__img {
  padding: 5px; /* Some padding */
  width: 50px;
}

.removeItembutton {
  height: 20px;
}

.btnCursor {
  cursor: pointer;
}
